* {
    background-color: black;
    font-family: 'Overpass Mono', monospace;
}

#messageboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message {
    background-color: #f7f3ea;
    border: 5px solid gray;
    border-bottom-color: silver;
    border-right-color: silver;
    margin: 25px;
    font-size: 40px;
    width: 450px;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#row {
    display: flex;
}

#qkey {
    margin-left: -15px;
}

#pkey {
    margin-left: 30px;
}

.bigkey, .key {
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 65px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 75px;
    color: #f7f3ea;
    border: 5px solid silver;
}

.bigkey {
    margin-top: 25px;
    width: 225px;
}

#copykey {
    background-color: darkgreen;
}

#clrkey {
    background-color: darkred;
}